html,
body {
    width: 100%;
    height: 100%;

    background-color: black;
}

.no-padding {
    padding: 0 0;
}

.no-margin {
    margin: 0 0;
}

.album-art {
    width: 10%;

    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 1100px) {
    .album-art {
        width: 25%;
    }
}

.album-art:hover {
    z-index: 1;
    transform: scale(1.2);
}

.modal-art {
    width: 100%;

    margin-bottom: 1em;

    object-fit: cover;
    object-position: 0 50%;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
